REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

POSTGRES_CONN_STRING=postgres://postgres:password@localhost:5432/task_queue?sslmode=disable

METRICS_ADDR=:9090

QUEUE_NAME=queue:video_processing